<div class="container" style="width:500px">
    <div class="row">
            <form action="/article" method="post" class="form-horizontal">
                <div class="form-group">
                    <div class="controls">
                        <h1>New article for the Weekly AUCSA newsletter!</h1>
                        <h4>All input is required!</h4>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="article_title">Title:</label>
                    <div class="controls">
                        <input class="form-control" id="article_title" name="article[title]" type="text" />
                        <span class="help-inline" id="errortitle" style="display:none;">Your title is too long, please stick to 50 characters</span>
                    </div>
                </div>
                <script>
                    $('#article_title').keyup(function(){
                        if ($(this).val().length > 50) {
                            $(this).parents('.form-group').addClass('has-error');
                            $('#errortitle').show();
                            } else {
                            $(this).parents('.form-group').removeClass('has-error');
                            $('#errortitle').hide();
                        }
                    });
                </script>

                <div class="form-group">
                    <label class="control-label" for="article_content">Content:</label>
                    <div class="controls">
                        <textarea class="form-control" name="article[content]" rows="10"></textarea>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label" for="article_poster">Your name or committee:</label>
                    <div class="controls">
                        <input class="form-control" name="article[poster]" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="article_email">Your student email:</label>
                    <div class="controls">
                        <input class="form-control" name="article[email]" type="text" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="controls">
                        <input type="submit" value="Send in article" class="btn btn-primary"/>
                    </div>
                </div>
            </form> 
    </div>
</div>
